<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Our Team Page HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Our Team Page HTML Template" name="keywords">
    <meta content="Our Team Page HTML Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Template Style sheet -->
    <link href="~/css/AboutUs2.css" rel="stylesheet">
</head>

<center>
    <body>
            <!-- Team #6 Start -->
            <div class="container">
                <div class="section-title">
                    <h1>Our Team</h1>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="team-6">
                            <div class="team-img">
                                <img src="~/UploadFiles/OurTeam/OfirShemesh.jpg" alt="Team Image">
                            </div>
                            <div class="team-content">
                                <h2>Ofir Shemesh</h2>
                                <h3>Software Developer</h3>
                                <div class="team-social">
                                    <a class="social-fb" href="https://www.facebook.com/ofir.shemesh.3"><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href="https://www.linkedin.com/in/ofir-shemesh-28690619b/"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href="https://www.instagram.com/ofirshemesh7/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="team-6">
                            <div class="team-img">
                                <img src="~/UploadFiles/OurTeam/OhadOzcohen.jpg" alt="Team Image">
                            </div>
                            <div class="team-content">
                                <h2>Ohad Ozcohen</h2>
                                <h3>Software Developer</h3>
                                <div class="team-social">
                                    <a class="social-fb" href="https://www.facebook.com/ohadkido"><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href="https://www.linkedin.com/in/ohadozcohen/"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href="https://www.instagram.com/ohad154/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="team-6">
                            <div class="team-img">
                                <img src="~/UploadFiles/OurTeam/TalYacobi.jpg" alt="Team Image">
                            </div>
                            <div class="team-content">
                                <h2>Tal Yacobi</h2>
                                <h3>Software Developer</h3>
                                <div class="team-social">
                                    <a class="social-fb" href="https://www.facebook.com/tal.yacobi.1/"><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href="https://www.linkedin.com/in/tal-yacobi/"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href="https://www.instagram.com/talyacobi/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team #6 End -->
    </body>
</center>
<center>
    <video width="350" height="320" controls>
            <source src="~/UploadFiles/Videos/Shop-with-us-online.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
    </video>
</center>
</html>
