@{
    ViewData["Title"] = "Login Page";
}
<link rel="stylesheet" href="~/css/Login.css" />
<div class="container-fluid">
    <div class="account-wall">
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="login">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin" id="loginForm">
                    <input type="text" id="Username" name="Username" class="form-control" placeholder="Username" required autofocus>
                    <input type="password" name="Password" class="form-control" placeholder="Password" required>
                    <input type="button" onclick="Login()" class="btn btn-lg btn-default btn-block" value="Login" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var Login = function () {
        var data = $("#loginForm").serialize();
        $.ajax({
            type: "post",
            url: "/User/CheckValidUser",
            data: data,
            success: function (result) {
                if (result == "Fail") {
                    alert("Login failed")
                    //$("#loginForm")[0].reset();
                }
                else {
                    //TODO: redirect
                }
            }
        })
    }
</script>