@{
    ViewBag.Title = "Weather";
}

<h1>Search City and Get Weather Forecast</h1>

<div>
    <strong>City Name  :</strong><input id="txtCity" type="text" />
    <br />
    <br />
    <button id="btnSubmit" onclick="GetWeather()">Get Weather Forecast</button>
</div>


<div>
    <h2>Weather Forecast</h2>
    <table>
        <tr>
            <td>Weather Symbol Icon <img id="imgWeatherIconUrl" src="https://openweathermap.org/img/w/50d.png" title="Weather Icon" /></td>
        </tr>
        <tr>
            <td>
                <strong>City: </strong>
                <span id="lblCity"></span>  ,
                <span id="lblCountry"></span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Latitude: </strong>
                <label id="lblLat"></label><br />
                <strong>Longitude: </strong>
                <label id="lblLon"></label>

            </td>
        </tr>
        <tr>
            <td>
                <strong>Description:</strong>
                <label id="lblDescription"></label><br />
                <strong>Humidity:</strong>
                <label id="lblHumidity"></label>
            </td>
        </tr>
        <tr>
            <td>
                Temperature (Feels Like)<label id="lblTempFeelsLike"></label><br />
                Temperature <label id="lblTemp"></label><br />
                Temperature (Min)<label id="lblTempMin"></label><br />
                Temperature (Max)<label id="lblTempMax"></label><br />
            </td>
        </tr>


    </table>
</div>

<script>
    function GetWeather()
    {
        var cityname = $("#txtCity").val();
        if (cityname.length > 0)
        {
            $.ajax({
                url: "/Home/WeatherDetail?City=" + cityname,
                type: "POST",
                success: function (rsltval) {
                    var data = JSON.parse(rsltval);
                    console.log(data);
                    $("#lblCity").html(data.City);
                    $("#lblCountry").text(data.Country);
                    $("#lblLat").text(data.Lat);
                    $("#lblLon").text(data.Lon);
                    $("#lblDescription").text(data.Description);
                    $("#lblHumidity").text(data.Humidity);
                    $("#lblTempFeelsLike").text(data.TempFeelsLike);
                    $("#lblTemp").text(data.Temp);
                    $("#lblTempMax").text(data.TempMax);
                    $("#lblTempMin").text(data.TempMin);
                    $("#imgWeatherIconUrl").attr("src", "http://openweathermap.org/img/w/" + data.WeatherIcon + ".png");
                    //data - response from server
                },
                error: function(xhr, httpStatusMessage, customErrorMessage) {
                    if (xhr.status === 404) {
                        alert(xhr.responseText);
                    }
                }
            });
        }
        else {
            alert("City name can't be empty");
        }
    }

</script> 